<!DOCTYPE html>

<html lang="ja">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/styles.js" rel="stylesheet">
        <title>Reading record</title>
    </head>
    <body>
        <div class="header">
            <h1>Reading record</h1>
            <form action="/"method="post">
                <select class="main"name="submit">
                    <option value="add">Add</option>
                    <option value="delete">Delete</option>
                </select>
                <select class="main"name="type">
                    <option value="movie">Movie</option>
                    <option value="anime">Anime</option>
                    <option value="nobel">Nobel</option>
                </select>
                <input class="main"name="title" placeholder="Title" type="text">
                <input class="main"name="reputation" placeholder="Record" type="text">
                <input class="main"name="point" placeholder="point" type="number" min="1" max="10">
                <input class="main"type="submit" value="submit">

            </form>

            <form action="/"method="post">
                <select class="main"name="sort">
                    <option value="sort_title">title</option>
                    <option value="sort_point">point</option>
                    <option value="sort_when">when</option>
                </select>

                <select class="main"name="sort_genre">
                    <option value="sort_Movie">Movie</option>
                    <option value="sort_Anime">Anime</option>
                    <option value="sort_Nobel">Nobel</option>
                </select>
                <input class="main"type="submit" value="sort">
            </form>
        </div>

        <div class="section">
            <div class="nobel">
                <h2><a href="/Nobel">Nobel</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>title</th>
                        <th>point</th>
                        <th>when</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nobel in nobels %}
                        <tr>
                            <td>{{nobel.title}}</td>
                            <td>{{nobel.point}}</td>
                            <td>{{nobel.datetime}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <div class="anime">
                <h2><a href="/Anime">Anime</a></h2>
            <table >
                <thead>
                    <tr>
                        <th>title</th>
                        <th>point</th>
                        <th>when</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anime in animes %}
                        <tr>
                            <td>{{anime.title}}</td>
                            <td>{{anime.point}}</td>
                            <td>{{anime.datetime}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <div class="movie">
                <h2><a href="/Movie">Movie</a></h2>
            <table>
                <thead>
                    <tr>
                        <th>title</th>
                        <th>point</th>
                        <th>when</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{movie.title}}</td>
                            <td>{{movie.point}}</td>
                            <td>{{movie.datetime}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </body>
</html>
