.ranking {
  counter-reset: rank;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .ranking li {
    position: relative;
  }

  .ranking li:not(:last-child) {
    margin-bottom: 10px;
  }

  .ranking li::before { /* ラベルのスタイル */
    content: "";
    position: absolute;
    border-bottom: 100px solid transparent;
    border-left: 100px solid rgba(0,0,0,0.8);
  }

  .ranking li::after { /* 順位（文字）のスタイル */
    counter-increment: rank;
    content: counter(rank) " 位";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    color: #fff;
  }

  .ranking img { /* 画像のスタイル */
    width: 350px;
    height: 200px;
    object-fit: cover;
  }

  .ranking p { /* タイトルのスタイル */
    position: absolute;
    bottom: 0;
    width: 350px; /* 画像の横幅に合わせる*/
    padding: 3px;
    color: #fff;
    background: rgba(0,0,0,0.8);
    text-align: right;
  }