<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Reading-Record/My page/Anime</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="思い出を記録します">
<meta name="keywords" content="映画,本,マンガ,アニメ,記録">
<link rel="stylesheet" href="css/style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/accordion_list.css">
<link rel="stylesheet" type="text/css" href="css/sort.css">
<link rel="stylesheet" type="text/css" href="css/button.css">
<link rel="stylesheet" type="text/css" href="css/mypage_box.css">
<link rel="stylesheet" type="text/css" href="css/delete_button.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="/"><img src="images/logo.png" alt="logo"></a></h1>
</header>

<!--開閉メニュー-->
<nav id="menubar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Mypage">My page</a></li>
        <br>
        <li><a href="/Movie">Movie</a></li>
        <li><a href="/Book">Book</a></li>
        <li><a href="/Anime">Anime</a></li>
        <br>
        <li><a href="/sign-out">Sign out</a></li>
    </ul>
</nav>

<div id="book-page">

    <dd>&emsp;<dd>
    <dd>&emsp;<dd>

    <section class="centering_parent">
        <button class="cta">
            <span> <a class="under" href="/Movie">Movie</a></span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
        <button class="cta">
            <span><a class="under" href="/Book">Book</a></span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
        <button class="cta">
            <span><a class="under" href="/Anime">Anime</a></span>
            <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </section>


<section>
<h2>Anime<br><span>アニメ
</span></h2>
</div>
</section>

<form action="/Anime" method="post">
    <div class="form-item">
        <select name="genre" class="custom-select sources" placeholder="並べ替え"  onchange="this.form.submit()">
        <option value="descend">点数降順</option>
        <option value="acsend">点数昇順</option>
        <option value="alpha">50音順</option>
        </select>
    </div>
</form>


<section>
    <div>
        <div class="acc-container">
            {% for anime in animes %}
            <div class="acc-btn">
                <div class="acc_title">
                    <div class="title">{{anime.title}}</div>
                    {{anime.point}} pt
                </div>
            </div>
            <div class="acc-content">
                <div class="acc_text">
                    {{anime.reputation}}
                    <div class="row">
                        <div class="delete-confirm small">
                            <button class="delete">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </button>
                            <button class="yes" method="post" value="delete">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="no">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


<footer>
<small>Copyright&copy; <a href="/">Reading-Record</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理-->
<script>
open_close("menubar_hdr", "menubar");
</script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--list用JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/accordion_list.js"></script>

<!--ソート用JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/sort.js"></script>

<!--デリートボタン用JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/delete_button.js"></script>

</body>
</html>
