<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Reading-Record</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="思い出を記録します">
<meta name="keywords" content="映画,本,マンガ,アニメ,記録">
<link rel="stylesheet" href="css/style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<link rel="stylesheet" type="text/css" href="css/tab.css">
<link rel="stylesheet" type="text/css" href="css/scroll.css">
<link rel="stylesheet" type="text/css" href="css/ranking.css">

</head>

<body class="home">

<div id="splash">
<div id="splash-logo">読み込み中...</div>
<!--/splash--></div>
<div class="splashbg1"></div>
<div class="splashbg2"></div>
<!---画面遷移用-->
<!--/container--></div>


<div id="container">

<header>
<h1 id="logo"><a href="/"><img src="images/logo.png" alt="logo"></a></h1>
<!--スライドショー-->
<aside id="mainimg">
<img src="images/library.png" alt="top photo">
</aside>
</header>

<!--開閉メニュー-->
<nav id="menubar">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/sign-in">Sign-in</a></li>
<li><a href="/Mypage">My page</a></li>
</ul>
</nav>

<div id="contents">

<section id="description">

<h2>Description<br><span>&emsp;&emsp;&emsp;&emsp;</span></h2>
<dl>
<center>
<dd>あなたの出会った映画や本、アニメに</dd>
<br>
<dd>点数をつけて記録することができます。</dd>
<br>
<dd>みんなの評価で決まるランキングから、新たな出会いを探すのも良いでしょう。</dd>
<br>
<br>
<dd>あなただけの思い出　つくりませんか？</dd>
</center>

</section>

<section>

<h2>Recommend<br><span>今日のおすすめ</span></h2>

<ul class="tab">
<li><a href="#movie">映画</a></li>
<li><a href="#book">本</a></li>
<li><a href="#anime">アニメ</a></li>
</ul>

<div id="movie" class="area">
    <h2>映画</h2>
    <ul class="ranking">
        <li>
        <img src="images/test_movie.png">
        <p>ONE-PEACE FILM RED</p>
        </li>

        <li>
        <img src="images/test_movie.png">
        <p>ONE-PEACE FILM RED</p>
        </li>

        <li>
        <img src="images/test_movie.png">
        <p>ONE-PEACE FILM RED</p>
        </li>
    </ul>
</div>

<div id="book" class="area">
    <h2>本</h2>
    <ul class="ranking">
        <li>
        <img src="images/test_book.png">
        <p>東野圭吾 沈黙のパレード</p>
        </li>

        <li>
        <img src="images/test_book.png">
        <p>東野圭吾 沈黙のパレード</p>
        </li>

        <li>
        <img src="images/test_book.png">
        <p>東野圭吾 沈黙のパレード</p>
        </li>
    </ul>
</div>

<div id="anime" class="area">
    <h2>アニメ</h2>
    <ul class="ranking">
        <li>
        <img src="images/test_anime.png">
        <p>ヴァイオレット・エヴァーガーデン</p>
        </li>

        <li>
        <img src="images/test_anime.png">
        <p>ヴァイオレット・エヴァーガーデン</p>
        </li>

        <li>
        <img src="images/test_anime.png">
        <p>ヴァイオレット・エヴァーガーデン</p>
        </li>
    </ul>
</div>

</section>

<section id="new">

    <h2>News<br><span>お知らせ</span></h2>
    <dl>
    <dt>2022/09/17</dt>
    <dd>サンプル作成中。
    <span class="new"></span>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>wicon">NEW</span></dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
    <dt>20XX/00/00</dt>
    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>

</section>

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">Reading-Record</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理-->
<script>
open_close("menubar_hdr", "menubar");
</script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--タブ用jsファイルの読み込み-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/tab.js"></script>


<!--スクロール用JS-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/scroll.js"></script>

</body>
</html>
