<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Reading-Record/Sign-in</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="思い出を記録します">
<meta name="keywords" content="映画,本,マンガ,アニメ,記録">
<link rel="stylesheet" href="css/style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="logo"></a></h1>
</header>

<!--開閉メニュー-->
<nav id="menubar">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="sign-in.html">Sign-in</a></li>
<li><a href="My page.html">My page</a></li>
</ul>
</nav>

<div id="contents">

<center>
<dd>あなただけの思い出を振り返りましょう</dd>
</center>

<section>

  <div class="form-wrapper">
    <h1 id="form-top">サインイン</h1>
    <form method="POST">
      <div class="form-item">
        <label for="user-name"></label>
        <input type="name" name="user-name" required="required" placeholder="ユーザー名"></input>
      </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" name="password" required="required" placeholder="パスワード"></input>
      </div>
      <div class="button-panel">
        <input type="submit" class="button" title="Sign In" value="サインイン"></input>
      </div>
    </form>
    <div class="form-footer">
      <p><a href="sign-up.html">まだアカウントを持っていませんか？</a></p>
      <p><a href="#">パスワードがわかりませんか？</a></p>
    </div>
  </div>

</section>

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="index.html">Reading-Record</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理-->
<script>
open_close("menubar_hdr", "menubar");
</script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

</body>
</html>
